<div mat-dialog-content>
  Voulez-vous {{action | lowercase}} la phrase <b>{{localData.phrase}}</b> ?
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">Oui</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Non</button>
</div>
