::ng-deep mat-table {
    margin-top: 150px;
    clear: both;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 400px;
}

.bloc {
    float: left;
    width: 32%;
    height: 75px;
}

.found {
    background-color: #008000;
    float: left;
    color: white;
}

.notfound {
    background-color: darkred;
    float: right;
    clear: both;
    color: white;
    margin-top: -37px;
}

.w-400 {
    width: 400px;
}
