<div class="bloc" style="margin-top: -35px;"></div>
<div>
  <h1 style="color:#008000; margin-top: -35px;" >
    Veuillez saisir votre phrase
  </h1>
</div>
<form (ngSubmit)="search()" #dicoForm="ngForm">
    <div class="bloc">
        <mat-form-field>
            <mat-label >Phrase</mat-label>
            <input matInput [(ngModel)]="message" name="message">
        </mat-form-field>
    </div>
    <div class="bloc">
      <button mat-button type="submit" class="found">
          Chercher
      </button>
      <button mat-button class="notfound" [disabled]="notfound" (click)="notFound()" style="color:white">
        Aucune approximation trouvée
      </button>
    </div>
</form>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="code_dico">
    <mat-header-cell *matHeaderCellDef>Mpm_syntax</mat-header-cell>
    <mat-cell *matCellDef="let json">
      <button (click)="copy(json.code)"
              style="background: none; border: none; cursor: pointer">
        <img src="/assets/content_copy.png" height="18" width="18" />
      </button>{{json.code}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phrase">
    <mat-header-cell *matHeaderCellDef class="w-400">Phrase</mat-header-cell>
    <mat-cell *matCellDef="let json" class="w-400">{{json.phrase}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pourcentage_de_ressemblance">
    <mat-header-cell *matHeaderCellDef>Pourcentage de ressemblance</mat-header-cell>
    <mat-cell *matCellDef="let json">{{json.pourcentage}}</mat-cell>
  </ng-container>

   <ng-container matColumnDef="ajout">
    <mat-header-cell *matHeaderCellDef>Ajout historique</mat-header-cell>
    <mat-cell *matCellDef="let json">
      <mat-checkbox value="{{json}}" (change)="confirmAdd(json)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
