@import '~@angular/material/theming';

// custom material theme

@include mat-core();

$dbox-app-primary: mat-palette($mat-deep-orange);
$dbox-app-accent: mat-palette($mat-deep-orange);
$dbox-app-warn: mat-palette($mat-red);

$dbox-app-theme: mat-light-theme($dbox-app-primary, $dbox-app-accent, $dbox-app-warn);

@include angular-material-theme($dbox-app-theme);


// custom css rules

.mat-mini-fab.mat-warn {
  background-color: #9897aa;

  &[disabled] {
    background-color: mat-color($dbox-app-accent);
  }
}

.mat-checkbox-frame {
  border-color: mat-color($dbox-app-accent);
}
